﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oyun Takas</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slider")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Oyun Takas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(OyunTakas.Resources.Resource1.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(OyunTakas.Resources.Resource1.About, "About", "Home")</li>
                    <li>@Html.ActionLink(OyunTakas.Resources.Resource1.Language, "Index", "Language")</li>
                    @if (!HttpContext.Current.Request.IsAuthenticated)
                    {

                    }
                    else
                    {
                        <li>@Html.ActionLink(OyunTakas.Resources.Resource1.Swap, "Index", "Takas")</li>
                    }

                    @if (Request.IsAuthenticated)
                    {
                        
                        if (User.IsInRole("yonetici1"))
                        {

                            <li>@Html.ActionLink("Admin Paneli", "Index", "Admin")</li>
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>
