﻿@model IEnumerable<OyunTakas.Models.Takas>

@{
    ViewBag.Title = "Takas Ekle";
}

<h2>Takas Ekle</h2>

<p>
    @Html.ActionLink("Yeni Takas Ekle", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        İstediğiniz Oyunu Arayın : @Html.TextBox("arama")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OyunAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IstenenOyun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sehir)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OyunAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IstenenOyun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sehir)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.ID }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
