﻿@model IEnumerable<OyunTakas.Models.Gallery>
@{
    ViewBag.Title = "Admin Panel";
}

<h2>Slider Ekle, Sil</h2>
<h3>
    @Html.ActionLink("Add Image", "AddImage", "Slider", new { id = "linkAddimage" }, null) |
    @Html.ActionLink("Delete Image", "DeleteImages", "Slider", new { id = "linkDeleteImage" }, null)
</h3>
@*@Html.Partial("~/Views/Shared/SliderPartial.cshtml", Model)*@
<h2>Takas Ekle, Sil</h2>
<h3>@Html.ActionLink("Takasları Görüntüle", "Index", "Takas")</h3>
