﻿@{
    ViewBag.Title = "Ana Sayfa";
}



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/1.jpg"  style="width:100%">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/2.jpg" style="width:100%">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/3.jpg"  style="width:100%">
            <div class="carousel-caption">
                ...
            </div>
        </div>
    </div>


    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@*@model IEnumerable<OyunTakas.Models.Gallery>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Views/Shared/SliderPartial.cshtml", Model)
    </div>
</div>*@

@if (!HttpContext.Current.Request.IsAuthenticated)
{
<h1>@OyunTakas.Resources.Resource1.RegistertoViewSwaps</h1>
}
else
{
    <h1>@Html.ActionLink(OyunTakas.Resources.Resource1.ViewSwaps, "Index", "Takas")</h1>
}

@*@model IEnumerable<OyunTakas.Models.Takas>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OyunAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IstenenOyun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sehir)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OyunAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IstenenOyun)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eposta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sehir)
                </td>
            </tr>
        }

    </table>*@