﻿@{
    ViewBag.Title = "Ana Sayfa";
}



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://apollo2.dl.playstation.net/cdn/EP9000/CUSA11993_00/FREE_CONTENTjEtrwqDV5gwccFzDGLgS/MSM_03.jpg" alt="RDR2" style="width:100%">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="https://cnet2.cbsistatic.com/img/aI4oBKHpKpr2MJ0gHl1R3z6o8-4=/830x467/2018/04/12/5de6fb19-4559-4f9d-bf03-0946043bbec8/god-of-war-20180402115205.jpg" alt="GOW" style="width:100%">
            <div class="carousel-caption">
                ...
            </div>
        </div>
        <div class="item">
            <img src="http://i.hurimg.com/i/hurriyet/75/750x422/5bf3d359c03c0e0e982ebf29.jpg" alt="GOW" style="width:100%">
            <div class="carousel-caption">
                ...
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>




@model IEnumerable<OyunTakas.Models.Takas>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OyunAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IstenenOyun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sehir)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OyunAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IstenenOyun)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sehir)
            </td>
        </tr>
    }

</table>